@import url("https://fonts.cdnfonts.com/css/sigmar");
@import url("https://fonts.cdnfonts.com/css/br-cobane");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --logo-text: "Sigmar", sans-serif;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

h1,
p,
a,
button {
  font-family: "Br Cobane", sans-serif;
}
                                                                                              
.text-logo {
  font-family: var(--logo-text);
}
